# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**

- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL

# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Tensorflow

| Data Science Tools |
| ------------------ |
| GitHub |
| Jupyter |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
a = 200 # minutes
b = 60  # minutes in a hour
result = a/b
print (" There is " + str(result) + " hours in " + str(a) + " minutes")

 There is 3.3333333333333335 hours in 200 minutes

## Author
Pedro Rodriguez